/* navigation */
#navbar{
    flex-direction: column;
    height: auto;
}
#navbar ul li a{
    padding: 2px 5px;
}

#logo img{
    height: 55px;
    margin: 5px 5px;
}
/* home section */
/* services section */
#services{
    flex-direction: column;

}
#services {
    flex-direction: column;
}
/* clients section */
#clients{
    flex-wrap: wrap;
    height: auto;
}
#client-section{
    height: auto;
}
#client-section img{
    height: auto;
}
.client-items{
    height: auto;
    padding:  3px 1px;
}
#contact{
    width: auto;
}